
<p><a class="newTaskButton btn btn-block btn-info" ng-click="showNewTaskWindow = true">
  New Task
</a></p>
<div class="row">
  <div class="newTaskForm col-sm-12">
    <div id="taskInputForm" ng-show="showNewTaskWindow">
      <form role="form" ng-submit="main.newTask()">
        <fieldset class=form-group>
          <input type="text" ng-model="main.task_name" class="form-control" placeholder="task name" required>
        </fieldset>
        <fieldset class=form-group>
          <input type="text" ng-model="main.task_notes" class="form-control" placeholder="task notes">
        </fieldset>
        <button type="submit" class="btn btn-primary" ng-click="showNewTaskWindow = false" value="Submit">Submit</button>
        <button type="button" class="btn btn-default" ng-click="showNewTaskWindow = false">Cancel</button>
      </form>
    </div>
  </div>
</div>
<div class="jumbotron">
  <h1>cyborgTracker</h1>
</div>
<div class="row">
  <div class="col-sm-12" ng-repeat="task in main.tasks">
    <div class="card">
      <p><a ng-click="showButtons = !showButtons" class="btn btn-lg btn-block btn-primary">
        {{ task.task_name }}
      </a></p>
      <div ng-show="showButtons">
        <p><a ng-click="main.newTaskEvent(task)" class="btn btn-block btn-success">
          Do It!
        </a></p>
        <p><a class="btn btn-block btn-info" ng-click="showHistory = !showHistory">
          History
        </a></p>
        <div ng-show="showHistory">
          <div ng-hide="task.events.length">
            No Events Yet!
          </div>
          <div ng-show="task.events.length">
          <p>
            Most Recent: <time am-time-ago="task.last_event"></time>
          </p>
            Complete History:
          <ul>
            <li ng-repeat="event in task.events">{{ event | date : 'medium' }}</li>
          </ul>
        </div>
      </div>
        <p><a class="btn btn-block btn-warning" ng-click="showEdit = !showEdit">
          Edit Task
        </a></p>
          <div id="taskInputForm" ng-show="showEdit">
            <form role="form" ng-submit="updateTask(task)">
              <fieldset class=form-group>
                <input type="text" ng-model="task.task_name" class="form-control" placeholder="task name" required>
              </fieldset>
              <fieldset class=form-group>
                <input type="text" ng-model="task.task_notes" class="form-control" placeholder="task notes">
              </fieldset>
              <button type="submit" class="btn btn-primary" ng-click="showEdit = false" value="Submit">Save</button>
              <button type="button" class="btn btn-default" ng-click="showEdit = false">Cancel</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
